
header{
background:url(https://i.pinimg.com/originals/3d/07/f8/3d07f8cd811e099a492ffbc8cc497396.png);
background-position: center;
}
div.circletag{
    position:absolute;
    margin-left: 44.5%;
    margin-top: 75px;
    display:block;
    width: 150px;
    height: 150px;
    align-content: center;
    background: #E6E7ED;
    border-radius: 100px;

    
}
div.circletag>img{
    height: 100%;
    width: 100%;
    max-height: 500%;
    max-width: 500%;
}
#circle{
 justify-content: space-around;
    
}
h1{
    text-align: center;
}
.vl {
    border-left: 1px solid grey;
    height: 100px;
}
.row {
    display: flex;
}
.column {
    flex: 20%;
    padding: 5px;
}
