<div *ngIf="pokemon">

    <header style="height: 150px;">
        <div class="circletag" id="circle">
            <img src="{{pokemon.sprites.front_default}}" onerror="this.onerror=null; this.src='../../assets/final_fight.png'">
        </div>
    </header>
    <br>
    <br>
    <br>
    <br>

</div>

<body>
    <div *ngIf="pokemon" class="col d-flex justify-content-center">
        <div class="card" style="width:90%">
            <div class="row">
                <div class="col-2">
                    <button class="btn btn-info" (click)="goBack()"
                        style="margin-left: 5px; height:100%; width:100%; max-height:70px;min-width:90px; max-width:100px">Back</button>
                </div>
                <div class="col-8">
                    <h1>{{pokemon.name | uppercase}}</h1>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div *ngFor="let type of pokemon.types" style="text-align:center">
                    <div class="card" style="margin: 10px; min-width: 100px">
                        {{type.type.name | uppercase}}
                    </div>
                </div>

            </div>
            <hr>
            <div class="row justify-content-center">
                <div style="margin-left:100px; margin-right:50px; margin-top:20px">
                    <h3> {{pokemon.weight / 10}} kg </h3>
                    <p>WEIGHT</p>
                </div>
                <div style="margin-right:100px; margin-left:50px; margin-top:20px">
                    <h3> {{pokemon.height * 10}} cm </h3>
                    <p>HEIGHT</p>
                </div>
            </div>
            <hr>
            <div style="margin-left: 20px;">
                <p><b>Base XP:</b> {{pokemon.base_experience}}</p>
            </div>
            <hr>
            <div style="margin:20px;">

                <h4><b>Base stats</b></h4>
                <div style="margin-left:10px">
                    <table border="0" width="100%" style="margin:0px;">
                        <tr class="table-primary">
                            <td>Speed</td>
                            <td align="right">{{pokemon.stats[0].base_stat}}</td>
                        </tr>
                        <tr class="table-secondary">
                            <td>Special Defense</td>
                            <td align="right">{{pokemon.stats[1].base_stat}}</td>
                        </tr>
                        <tr class="table-success">
                            <td>Special Attack</td>
                            <td align="right">{{pokemon.stats[2].base_stat}}</td>
                        </tr>

                        <tr class="table-danger">
                            <td>Defense</td>
                            <td align="right">{{pokemon.stats[3].base_stat}}</td>
                        </tr>
                        <tr class="table-warning">
                            <td>Attack</td>
                            <td align="right">{{pokemon.stats[4].base_stat}}</td>
                        </tr>
                        <tr class="table-info">
                            <td>Hp</td>
                            <td align="right">{{pokemon.stats[5].base_stat}}</td>
                        </tr>
                    </table>
                </div>

            </div>
            <hr>
            <div style="margin-left:20px">
                <h3><b>Abilities</b></h3>
                <div *ngFor="let ability of pokemon.abilities">
                    <b>Slot {{ability.slot}}:</b> {{ability.ability.name}}
                </div>
            </div>
            <hr>
            <div style="margin-left:20px">
                <h3><b>Sprites</b></h3>
                <div class="row">
                    <div *ngFor="let sprite of pokemon.sprites | keyvalue">
                        <div *ngIf="sprite.value">
                            <div class="col-sm">
                                <img src="{{sprite.value}}">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <hr>
            <div style="margin-left: 20px;">
                <h3><b>Moves</b></h3>
                <table class="table table-striped">
                    <tbody>
                        <ng-container *ngFor="let move of pokemon.moves; let i=index;">
                            <tr>
                                <td>{{move.move.name}}</td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
<div class="col d-flex justify-content-center" *ngIf="!pokemon" style="height: 1000px">
    <table>
        <tr><div>
        <img src="../../assets/slowpoke-transparent.gif">
    </div></tr><tr>
    <div class="card" style="text-align:center">
                    <h2><b>LOADING</b></h2>
    </div></tr>
    </table>
</div>
</body>