<head>
    <script>document.addEventListener("DOMContentLoader", yall)</script>
</head>
<body>
    <div *ngIf="pokemons.length > 1">
        <div style="width:95%; margin-left: 5%; padding-inline-end: 5%;">
            <input class="form-control" [(ngModel)]="searchText" placeholder="Search for Pokémon" style="text-align: center">
        </div>
        <div class="card-group">
            <div *ngFor="let pokemon of pokemons | filter : searchText">
                <a routerLink="/detail/{{pokemon.name}}">
                    <div class="card" style="width: 15rem; height: 12rem; margin: 5px; text-align:center;">
                        <img class="lazy" style="width:80%; max-height:125px; padding-left:50px;"
                            data-src={{spriteUrl}}{{postUrl(pokemon.url)}}.png
                            onerror="this.onerror=null; this.src='../../assets/final_fight.png'"
                            alt="No Image Available :(">
                        <p style="margin-top: 25px; font-size:12px;"><b>{{pokemon.name | uppercase}}</b></p>
                    </div>
                </a>
            </div>
        </div>
    </div>
<div class="col d-flex justify-content-center" *ngIf="pokemons.length == 0" style="height: 1000px; position:fixed; top:20px;">
    <table>
        <tr><div>
        <img src="../../assets/slowpoke-transparent.gif">
    </div></tr><tr>
    <div class="card" style="text-align:center">
        <h2><b>LOADING</b></h2>
    </div></tr>
    </table>
</div>
</body>