.pokeContainer{
    display: flex;
 
}
.pokeItem{
    
 flex:1;
}
.card:hover{
    animation: bounce 1s;
    border-radius: 20px;
    border-color: teal;
    border-width: 2px;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}