@import '~bootstrap/dist/css/bootstrap.min.css';

body{
    background:url(http://eskipaper.com/images/pokemon-backgrounds-2.jpg) no-repeat center center fixed;
    
    background-size: auto;
}
* {
    font-family: "pokeFont";
}
@font-face {
    font-family: pokeFont;
    src: url("./assets/PokemonGb-RAeo.ttf");
}
